body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Firefox */
* {
  scrollbar-width: none; /* none | auto  */
  scrollbar-color: #07131c transparent;
}

/* The first applies to the thumb of the scrollbar, the second to the track. */
/* Firefox */

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 0.15em; /* vertical scrollbar */
  height: 0.15em; /* horizontal scrollbar */
}

*::-webkit-scrollbar-track {
  background: #07131c;
}

*::-webkit-scrollbar-thumb {
  background: #07131c;
  border-radius: 14px;
  border: calc(14px / 4) solid #07131c;
}

*::-webkit-scrollbar-thumb:hover {
  background: #07131c;
}

.MuiDrawer-paper {
  background-color: #07131c !important;
  color: #f1f1f1 !important;
}
.MuiListItemIcon-root {
  color: #f1f1f1 !important;
}

/* Style Number input type */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
